<div class="row">
    <div class="col-xs-12">
        <form> 
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name"> Name</label>
                    <input
                    value="{{selectedIngredient.name}}"
                    type="text" 
                    id="name" 
                    class="form-control"
                    #nameInput
                    >
                </div>
                <div class="col-sm-2" form-group>
                    <label for="amount"> Amount</label>
                    <input
                    value="{{selectedIngredient.amount}}"
                    type="number" 
                    id="amount" 
                    class="form-control"
                    #amountInput
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button (click)="onSubmitAdd()" class="btn btn-success" type="submit"> Add </button>
                    <button (click)="updateIngredientInShoppingList()"class="btn btn-primary" type="button"> Apply editing </button>
                    <button (click)="removeSelected()" class="btn btn-primary" type="button"> Remove </button>
                    <button (click)="clearShoppingList()" class="btn btn-danger" type="button"> Clear List </button>


                </div>
            </div>
        </form>
    </div>
</div>